.about-me {
  width: 100vw;
  height: 100vh;
  background-image: url("../background-aboutme.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.bio-title {
  font-size: 40px;
}

.about-title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}

.about-content {
  max-width: 800px;
  color: #ecd2df;
  text-align: center;
  background: rgba(52, 55, 66, 0.6);
  padding: 30px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.about-content h1 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.about-content p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.about-content a {
  color: #8994d4;
}

.about-content a:hover {
  color: white;
}

.stream {
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.stream {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #9f7fa0;
  text-decoration: none;
}

.stream:hover {
  color: white;
  text-decoration: underline;
}
