* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

.container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #9f7fa0;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Fascinate Inline", system-ui;
}

.subtitle {
  font-size: 30px;
  opacity: 0.8;
  margin-left: 10px;
  font-family: "UnifrakturMaguntia", cursive;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
  font-size: 30px;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
  font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: transparent;

  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease,
    transform 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  background-color: rgba(200, 255, 255, 0.15);
  border: 1px solid rgba(200, 255, 255, 0.5);
  color: #ecd2df;

  transform: scale(1.05);
  text-shadow: 0 0 8px rgba(200, 255, 255, 0.6);
}
